/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f80303;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
    width: 60%;
}

.form-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.input-section {
    width: 45%;
}

.card-section {
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    background-color: rgb(246, 242, 242);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(7, 5, 5, 0.7);
}

label {
    margin: 10px 0 5px;
}

input {
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #151515;
}

button {
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #0056b3;
}

.id-card {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(247, 245, 245, 0.1);
    width: 250px;
    text-align: left;
}

.id-card img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}
